{% extends "base.html" %}
{% load static %}
{% block title %}Eliminar{% endblock %}

{% block delete %}
<div class="app-notes">
    <div class="container super-over">
        <div class="box-form super">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title"><b>Título:</b></label>
                <p type="text" id="title" name="title" >{{note.title}}</p>

                <label for="note"><b>Nota:</b></label>
                <p name="note" id="note" rows="8" >{{note.note}}</p>

                <!---<a href="{% url 'home' %}" class="button">Guardar</a>--->
                <button type="submit" class="button delete format" >Eliminar</button>
                <a href="{% url 'home' %}" class="button format">Cancelar</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}