{% extends "base.html" %}
{% load static %}
{% block title %}Notas{% endblock %}

{% block home %}
<div class="app-notes">
    <div class="container">
        <div class="home">
            <div class="head">
                <h2 class="tittle">APP DE NOTAS</h2>
                <header class="navbar">
                    <!---<button type="submit" class="button">Cerrar Sesión</button>--->
                    <a href="{% url 'logout' %}" class="button">Cerrar sesion</a>
                </header>
                <!---<button class="button button-new-n">Nueva nota</button><br />---->
                <a href="{% url 'new_note' %}" class="button">Nueva nota</a>

                <div class="table-notes">
                    <table id="record_notes" class="add-note">
                        <tr>
                            <th>TITULO </th>
                            <th>FECHA</th>
                            <th>ACCIONES</th>
                        </tr>
                        {% for note in notes %}
                        <tr>
                            <td>{{ note.title }}</td>
                            <td>{{ note.date }}</td>
                            <td class="actions-cell add-note">
                                <a href="{% url 'see_note' id=note.id %}" class="button see">Ver</a>                
                                <a href="{% url 'update_note' id=note.id %}"  class="button edit">Editar</a>
                                <a href="{% url 'delete_note' id=note.id %}"  class="button delete">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}