{% extends "base.html" %}
{% load static %}
{% block title %}Nueva nota{% endblock %}

{% block notes %}
<div class="app-notes">
    <div class="container super-over">
        <div class="box-form super">
            <form class="form" method="post" action="{% url 'new_note' %}">
                {% csrf_token %}
                <label for="title"><b>Título:</b></label>
                <input type="text" id="title" name="title" required>

                <label for="note"><b>Nota:</b></label>
                <textarea name="note" id="title" rows="8" required></textarea>

                <!---<a href="{% url 'home' %}" class="button">Guardar</a>--->
                <button type="submit" class="button format" >Guardar</button>
                <a href="{% url 'home' %}" class="button format delete">Cancelar</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}