{% extends "base.html" %}
{% load static %}
{% block title %}Ver{% endblock %}

{% block see %}

<div class="app-notes">
    <div class="container super-over">
        <div class="box-form super">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title" ><b>Título:</b></label>
                <p type="text" id="title" name="title" >{{note.title}}</p>

                <label for="note"><b>Nota:</b></label>
                <p name="note" id="note" rows="8" >{{note.note}}</p>

                <label for="note"><b>Fecha:</b></label>
                <p name="date" id="date" rows="8" >{{note.date}}</p>

                <!---<a href="{% url 'home' %}" class="button">Guardar</a>--->
                <!---<button type="submit" class="button" >Actualizar</button>---->
                <a href="{% url 'home' %}" class="button format">Regresar</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}