{% extends "base.html" %}
{% load static %}
{% block title %}Actualizar{% endblock %}

{% block update %}

<div class="app-notes">
    <div class="container super-over">
        <div class="box-form super">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title"><b>Título:</b></label>
                <textarea name="title" id="title" rows="1" required>{{note.title}}</textarea>
            
                <label for="note"><b>Nota:</b></label>
                <textarea name="note" id="note" rows="8" required>{{note.note}}</textarea>

                <!---<a href="{% url 'home' %}" class="button">Guardar</a>--->
                <button type="submit" class="button edit format" >Actualizar</button>
                <a href="{% url 'home' %}" class="button delete format">Cancelar</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}