{% extends "base.html" %}
{% load static %}
{% block title %}App notas{% endblock %}

{% block start %}
    <div class="container-s">
        <h1 id="start-page">Notas</h1>
        <div class="button-st">
            <a href="{% url 'login' %}" class="button-s">Iniciar Sesión</a>
            <a href="{% url 'register' %}" class="button-s">Registrarse</a>
        </div>
    </div>
{% endblock %}