{% extends "base.html" %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block register %}
<div clas="app-notes">
    <div class="container">
        <div class="box-form">
            <div class="tittle">
                <h2>Registro Usuario</h2>
                <h3>(App de notas)</h3>
            </div>
            <form class="form" method="post">
                {% csrf_token %}
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <!---{{ register_form }}  --->
                    <label for="email"><b>Correo: </b></label>
                    <input type="email" id="email" name="email" required />

                    <label for="name"><b>Nombre completo:</b></label>
                    <input type="text" id="name" name="name" required />

                    <label for="username"><b>Nombre de usuario:</b></label>
                    <input type="text" id="username" name="username" required />

                    <label for="password1"><b>Contraseña:</b></label>
                    <input type="password" id="password1" name="password1" required />
                    
                    <label for="password2"><b>Confirme contraseña:</b></label>
                    <input type="password" id="password2" name="password2" required />

                <button type="submit" id="reg" class="button">Registrarse</button>
                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}