{% extends "base.html" %}
{% load static %}
{% block title %}Inicio sesión{% endblock %}

{% block login %}
<div class="app-notes">
    <div class="container">
        <div class="box-form">
            <div class="tittle">
                <h2>Ingreso</h2>
                <h3>(App notas)</h3>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                <label for="usern" class="usern"><b>Usuario:</b> </label>
                <input type="text" id="usern" name="usern" placeholder="Ingrese Correo">

                <label for="password" class="password"><b>Contraseña:</b></label>
                <input type="password" id="password" name="password" class="password">

                <button type="submit" id="log" class="button">Ingresar</button>
            </form>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            <p style="text-align: center; color: #555; font-size: 14px;">¿Tiene cuenta? <a href="{% url 'register' %}" >Registrarse</a></p>

        </div>

    </div>
</div>
{% endblock %}