{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>
    {% block start %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block register %}
    {% endblock %}
    {% block home %}
    {% endblock %}
    {% block notes %}
    {% endblock %}
    {% block update %}
    {% endblock %}
    {% block delete %}
    {% endblock %}
    {% block see %}
    {% endblock %}

    <script src="{% static 'index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>