body * {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
}

#start-page{
    font-size: 10em;
    margin-bottom: 20px;
    color: #4472c7;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.container-s{
    display: block;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}

.tittle {
    text-align: center;
    margin: 20px;
}

h2,
h3 {
    color: #4473c3;
    margin: 0;
}

.box-form {
    background-color: #f0f0f0;
    border-style: outset;
    border-color: #f0f0f0;
    display: grid;
    width: 530px;
    justify-content: stretch;
    padding: 60px;
    margin: 20px auto;
}

.form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    padding: 5px;
}

#reg {
    margin: 20px auto 0;
    
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    background-color: #4472c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin-top: 10px;
}


.button-st {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-s {
    display: flex;
    justify-content: center;
    background-color: #4472c7;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-s:hover {
    background-color: #c55b10;
}

.button-new-n {
    justify-content: left;
 
}

.table-notes {
    max-height: 700px;
    overflow-y: auto;
    margin-top: 20px;
}

.add-note {
    border-collapse: collapse;
    margin: 5px auto;
    border: 1px solid black;
}

.add-note th,
.add-note td {
    border: 1px solid black;
    padding: 15px;
    
}

.add-note th{
    background-color: #b4c7e7;
    
}

.add-note th:nth-child(1) {
    width: 300px;
}

.add-note th:nth-child(2) {
    width: 150px;
}

.delete{
    background-color: #c55b10;
}

.edit{
    background-color: #ffc101;
   
}

.see{
    background-color: #4472c7;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.format{
    justify-content: center;
    display: block; 
    width: 100px;
    
}

.super-over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(221, 218, 218, 0.8); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Z-index alto para que esté encima del contenido normal */
}

.super{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}